### KNN from Scratch: How to Use
This notebook documents how to use the knn algorithm in this file from the knn.py file in this directory.

In [1]:
import pandas as pd
import numpy as np

Firstly, we need a training dataframe and a testing dataframe to peform the knn algorithm on. The dataframes are imported relate atomic radii to atomic class

In [2]:
df = pd.read_csv('https://uwdirect.github.io/SEDS_content/atomradii.csv')
print(df.keys())
df

Index(['rWC', 'rCh', 'Atom', 'Type'], dtype='object')

     rWC   rCh Atom Type
0   0.78  0.50    B   PT
1   0.90  0.67   Si   PT
2   0.97  0.65   Ga   PT
3   1.04  0.76   Al   PT
4   1.10  0.79   Ir   PT
5   0.32  0.62   Zn   TM
6   0.45  0.68   Cd   TM
7   0.14  0.66   Be  Alk
8   0.25  0.87   Mg  Alk
9   0.19  0.99   Li  Alk
10  0.28  1.01   Na  Alk
11  0.54  1.23   Ca  Alk
12  0.59  1.34    K  Alk
13  0.69  1.36   Sr  Alk
14  0.74  1.45   Rb  Alk

In [3]:
df_test = pd.read_csv('https://uwdirect.github.io/SEDS_content/testing.csv')
df_test

    rWC   rCh Atom Type
0  0.51  1.12   X1  Alk
1  0.37  0.77   X2   TM
2  0.62  0.35   X3   PT
3  0.62  0.62   X4   TM
4  0.62  0.93   X5  Alk

Next, the module to perform the knn algorithm and its functions needs to be imported. It takes a dataframe, number of nearest neighbors, and a test datframe and returns a predicition of y values based on the x values in the test dataframe. In this function, it's important to note that the algorithm assumes the first two columns of the dataframe are the x parameters and that the last column is the target y vector.

The 'knn_wrap' function is main function the user interacts with. It is only necessary to import this one function to perform the algorithm. There are other functions in the knn.py file but since they are imbedded in knn_wrap they do not need to be imported individually. 

For reference these functions include: a function to calculate the euclidean distance between rows, a function that sorts the rows per number of nearest neighbors, a function that makes predictions on the based on the list, and a function break ties. See the docstrings in the knn.py file for more information.

The knn.py file also includes a function called k_selection which takes a training and test datframe along with a list of k values and will output the optimal k value for the dataset. This should be imported seperately if the user wants to use this.

In [4]:
import knn
from knn import knn_wrap
from knn import k_selection

In [5]:
#making a prediction on df
knn_wrap(df, 4, df_test)

     0
0  Alk
1   TM
2   PT
3   TM
4  Alk

In [44]:
#getting the optimum k value
k_selection(df, df_test, [2 ,3 ,4, 5])

The optimal k value for this dataset from the list provided is:  {4}

{2: 0.8, 3: 0.6, 4: 1.0, 5: 0.6}